!!!
%html
  %head
    %title Reverb Technical Challenge
  %body
    %h1 Welcome to the Data Displayer
    %a{href: "gender" } sort by gender (females before males) then by last name ascending
    %a{href: "birthdate"} sort by birth date, ascending
    %a{href: "lastname"} sort by last name, descending
    = yield
